.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height:150vh;
}

.Svg-app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height:200vh;
  background-color: '#000a13';
  background-repeat: "repeat";
  background-image: url("https://react-scroll-parallax-next.surge.sh/static/media/bg-grid.061054b8.svg");
  width:100%;
}

.Anomaly {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height:270vh;
  position: relative;
  background-color: #000a13;
  overflow-y: scroll;
}


.Black-girl {
  overflow: auto;
  background-size: 110%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:300vh;
  width:100%;
}

*{
  transform: translate3d(0,0,0);

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
